.list_container {
    grid-area: pokeList;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.list_box {
    height: 70%;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    position: relative;
}

.list_wrapper{
    width: auto;
    height: 508px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    padding: 0 16px;
    position: relative;
}

